*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#OS X Resource Forks
.DS_Store
._*

#Eclipse project files
.metadata/
.settings/
.classpath
.classpath.orig
.project

# Custom Excludes
bin/
redist/
res-src/
lib/
